/* start header */
.logo{
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
}
.navigation{
    display: inline-block;
    vertical-align: middle;
}
.nav-li{
    display: inline-block;
    margin-right: 30px;
    font-size: 22px;
    font-family: "DejaVu Sans Oblique", sans-serif;

}
.activepage{
    color: red;
}
/* end headr */
body{
    background-color: rgba(42, 199, 160, 0.353);
}
p{
    font-family: "DejaVu Sans Oblique", sans-serif;
}
.header{
    background-color: lightslategrey;
}

/* aq gavstile mtavari gverdi */
.div-box{
    width: 1170px;
    height: 300px;
    margin: 20px auto;
}
.div-img{
    width:1170px;
    height: 300px;
    
}
.left-box{
    width: 570px;
    background-color:aqua ;
    display: inline-block;
    padding: 13px 15px 24px 20px;
    margin-right: 26px;
}
.right-box{
    width: 570px;
    background-color: rgba(49, 240, 97, 0.932);
    display: inline-block;
    padding: 13px 15px 24px 20px;
}
.text-blok{
    display: inline-block;
    width: 350px;
    vertical-align: middle;
    font-size: 20px;
}
.image-box{
   width: 100px;
   height: 130px;
    vertical-align: middle;
    margin-right: 60px;
}
.title-box{
    margin-bottom: 12px;
    font-size: 40px;
    text-align: center;
}
.main-box{
    width: 1170px;
    height: 300px;
    margin: 50px auto;
}
.main-title{
    margin: 20px auto;
}
/* aq damtavrda mtavari gverdis gastilva */
/* meore gverdis gastilva */
.page-2{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 0, 0);
    margin: 0px auto;
}
.div-date{
    width: 56px;
    height: 56px;
    background-color: blue;
    font-size: 53px;
    color: white;
    margin: 10px 7px;
}
.maisi{
    font-size: 25px;
    color: red;
    margin-bottom: 7px;
    display: inline-block;
}
.title-date{
    font-size: 45px;
    color: red;
    margin-bottom: 15px;
    text-align: center;
}
.articale-div{
    display: inline-block;
    width: 929px;
    color: crimson;
    vertical-align: top;
    font-size: 18px;
}
.image-div{
    vertical-align: top;
    width: 400px;
    margin-right: 19px;
}
.artical-p{
    margin-bottom: 20px;
}
/* damtavrda meore gverdis gastilva */


/* contact page */
.contact-section{
    background-color: gray;

}
.maindiv-contact{
    width: 1177px;
    margin: 0px auto;
}
.contact-map{
    display: inline-block;
    vertical-align: top;
}
.contact-blok{
    display: inline-block;
    vertical-align: top;
}
.contact-title{
    color: red;
    font-size: 27px;
    margin-bottom: 10px;
}
.contact-text{
    color: indigo;
    font-size: 25px;
    
    
}

/* end contact page */

/* footeris gastilva  */
.footer-div{
    background-color: lightslategray;
}
.fb-div{
    display: inline-block;
    width: 600px;
    margin-right: 110px;

}
.tube-div{
    display:inline-block;
    width: 600px;
}
.footerfb-title{
    display: inline-block;
}
.footertube-title{
    display: inline-block;
}
.footer-text{
    font-size: 30px;
    color: rgb(1, 199, 248);
    vertical-align: middle;
}
.footer-logo{
    vertical-align: middle;
    margin-right: 20px;
}
/* damtavrda footeri */